.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box; 
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3rem 1fr;
  grid-gap: 1rem;
  padding: 4rem;
  position: relative
}

.listOfSearches {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.searchBox {
  grid-column: 2 ;
  display:flex;
  justify-content: space-between;
  input{
    width: 70%
  }
  button{
    width: 20%;
  }

}

@mixin mapsContainerLayout {
    display:flex;
    justify-content: space-between;
    &>:first-child{
      width: 52.5%;
    }
    &>:nth-child(2){
      width: 42.5%;
    }

}
.userMapContainer {
  @include mapsContainerLayout()
  
}

.lastMapContainer {
  @include mapsContainerLayout()
}
